.post-container {
    background-color: #21252B;
    max-width: 350px;
    margin: 20px;
    border: 3px solid #333842;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.post-container img {
    width: 100%;
    height: 200px;
    border-bottom: 0px solid #353941;
    margin: 0;
    object-fit: cover;
}

.content {
    padding:0;
    margin: 0px 7px;
}

.tags {
    margin: 5px 7px;
}

.tags span {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 5px;
    border: 1px solid #333842;
    border-radius: 8px;
    color: #444b58;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

h1 {
    font-size: 25px;
    margin: 0px 10px;
    color: #e3ffe5;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #777;
    margin: 5px 7px;
}

.date {
    display: block;
    margin: 5px 13px;
    color: #555;
}
