/* styles.css */

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-pic {
  width: 28px;
  height: 28px;
  margin: 5px 10px;
  display: flex;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Position the dropdown below the profile picture */
  right: 0;
  background-color: #21252b;
  min-width: 100px;
  padding: 10px;
  border: 1px solid #333842;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure dropdown appears above other content */
}

.dropdown-menu button,
.dropdown-menu a {
  display: block;
  padding: 0;
  margin: 10px;
  border: 1px solid #333842;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  text-decoration: none;
  color: #e3ffe5;
  background-color: #21252b;
  font-size: 15px;
  line-height: 35px; /* Center vertically */
  text-align: center; /* Optionally, to center text horizontally */
}

.dropdown-menu button:hover,
.dropdown-menu a:hover {
  background-color: #ddd;
}
